<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hi APAP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <h1>Hello, world!</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> -->
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2>Daftar Pasien</h2>
                    <br>
                    <div th:if="*{pasiens.size() != 0}">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama</th>
                                        <th>Umur</th>
                                        <th>Saldo</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Email</th>
                                    </tr>
                                    <tbody>
                                    <tr th:each="pasien, iterationStatus : ${pasiens}"
                                        th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                                        <td th:text="${iterationStatus.count}"></td>
                                        <td th:text="${pasien.nama}"></td>
                                        <td th:text="${pasien.umur}"></td>
                                        <td th:text="${pasien.saldo}"></td>
                                        <td th:text="${pasien.username}"></td>
                                        <td th:text="${pasien.password}"></td>
                                        <td th:text="${pasien.email}"></td>
                                    </tr>
                                    </tbody>
                                </thead>
                            </table> 
                    </div>
                    <div th:unless="*{pasiens.size() !=0}">
                        <h2 th:text="'Tidak ada Pasien'"></h2>
                    </div>
                    <br>
                    <div class="d-flex flex-row">
                        <a class="btn btn-primary mr-3" href="/">Home</a>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>